.p-datatable.faq tr th, 
.p-datatable.faq tr td:not(:nth-child(2)) {
    text-align: center;
}
.p-datatable.faq tr th:first-child {
    width: 7%;
    color:gray;
}
.p-datatable.faq tr th:nth-child(2) {
    width: 43%;
}
.p-datatable.faq tr th:nth-child(3) {
    width: 10%;
}
.p-datatable.faq tr th:nth-child(4) {
    width: 10%;
}
.p-datatable.faq tr th:nth-child(5) {
    width: 15%;
}
.p-datatable.faq tr th:nth-child(6) {
    width: 15%;
}
