
.basePage.CLPCLTM00200 {
    width: initial !important;
}

.CLPCLTM00200 h1 {
    font-size: 45px;
}
.CLPCLTM00200 h2 {
    font-size: 30px;
}
.CLPCLTM00200 p {
    font-size: 20px;
    line-height: 1.5;
}
.CLPCLTM00200 section {
    position: relative;
    top:0;
    left:0;
    text-align: center;
    padding: 120px 0;
}
.CLPCLTM00200 section .innerWrap {
    min-width: 980px;
}
.CLPCLTM00200 section.content4 .innerWrap {
    min-width: 1120px;
}

.CLPCLTM00200 .content1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 510px;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../../../assets/images/about-cloud-cell/about-cloud-cell-main-bg.png);
    color: #fff;
    text-align: center;
}
.CLPCLTM00200 .content1 h1 {
    margin-bottom: 10px;
}
.CLPCLTM00200 .content1 p {
    margin-top: 35px;
    font-size: 20px;
}

.CLPCLTM00200 .content2 {
    background-color: #F2F9FF;
}

.CLPCLTM00200 .content2 .subText {
    /* margin-bottom: 100px; */
}

.CLPCLTM00200 .content2 .historySwiper {
    width: 1160px;
    margin: 0 auto;
    padding: 120px 0 0;
}
.CLPCLTM00200 .content2 .historySwiper .historyCard {
    width: 400px;
    text-align: left;
}
.CLPCLTM00200 .content2 .historySwiper .historyCard .date {
    font-size: 35px;
    color: var(--brand-primary);
    margin-bottom: 30px;
}
.CLPCLTM00200 .content2 .historySwiper .historyCard .dot::before {
    content: '';
    position: absolute;
    top:-4px;
    left:0;
    width: 10px;
    height: 10px;
    background-color: var(--brand-primary);
    border-radius: 5px;
    z-index: 100;
}
.CLPCLTM00200 .content2 .historySwiper .historyCard .dot {
    position: relative;
    top:0;
    width: 100%;
    height: 1px;
    background-color: var(--global-border-color);
    
}
.CLPCLTM00200 .content2 .historySwiper .historyCard .content {
    font-size: 16px;
    white-space: pre-line;
    margin-top: 30px;
}

.CLPCLTM00200 .content2 .historySwiper .swiper-button-prev {
    left: auto !important;
    right: 120px;
    color: #666;
    top:50px;
}
.CLPCLTM00200 .content2 .historySwiper .swiper-button-prev::before {
    content: '';
    position: absolute;
    top: 21px;
    left: 3px;
    width: 40px;
    height: 3px;
    background-color: #666;
}
.CLPCLTM00200 .content2 .historySwiper .swiper-button-next {
    color: #666;
    top:50px;
}
.CLPCLTM00200 .content2 .historySwiper .swiper-button-next::before {
    content: '';
    position: absolute;
    top: 21px;
    right: 3px;
    width: 40px;
    height: 3px;
    background-color: #666;
}

.CLPCLTM00200 .content3 .cloudBg {
    position: relative;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 530px;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: auto 529px;
    background-image: url(../../../../assets/images/about-cloud-cell/cloud-bg.png);
    text-align: center;
}

.CLPCLTM00200 .content3 .cloudBg .cir {
    position: absolute;
}
.CLPCLTM00200 .content3 .cloudBg .cir h3 {
    margin-bottom: 10px;
    font-size: 20px;
}
.CLPCLTM00200 .content3 .cloudBg .cir p {
    line-height: 1.5;
    font-size: 16px;
}

.CLPCLTM00200 .content3 .cloudBg .cir.c1 {
    top: 210px;
    left: 50%;
    margin-left: -80px;
}
.CLPCLTM00200 .content3 .cloudBg .cir.c2 {
    bottom: 75px;
    left: 50%;
    margin-left: -405px;
}
.CLPCLTM00200 .content3 .cloudBg .cir.c3 {
    bottom: 75px;
    left: 50%;
    margin-left: 185px;
}

.CLPCLTM00200 .content4 {
    padding: 20px 0 120px;
}

.CLPCLTM00200 .content4 .dprtNm {
    position: relative;
    background-color: var(--global-border-color);
    padding: 10px 30px;
    border-radius: 30px;
    z-index: 100;
    min-width: 340px;
}

.CLPCLTM00200 .content4 .peopleCard {
    min-width: 240px;
}

.CLPCLTM00200 .content4 .peopleCard.wide {
    min-width: 300px;
}


.CLPCLTM00200 .content4 .peopleCard .avatar {
    border-radius: 9999px;
    margin-bottom: 20px;
}

.CLPCLTM00200 .content4 .peopleCard h4 {
    font-size: 18px;
    margin-bottom: 5px;
}

.CLPCLTM00200 .content4 .peopleCard p {
    font-size: 18px;
    margin-bottom: 5px;
}

.CLPCLTM00200 .content4 .peopleCard .phone {
    color: #667085;
}

.CLPCLTM00200 .content4 .peopleCard .role {
    color: var(--brand-primary);
    white-space: pre-line;
    line-height: 1.3;
}

.CLPCLTM00200 .content4 .p-organizationchart .p-organizationchart-node-content {
    border: 0 none;
    background: #ffffff;
    color: #495057;
    padding: 0;
}

.CLPCLTM00200 .content4 .p-organizationchart .p-organizationchart-node-content .p-node-toggler {
    display: none;
}

.CLPCLTM00200 .content4 .p-organizationchart-lines [class*='p-organizationchart-line']{
    visibility: hidden;
}

.CLPCLTM00200 .content4 .cell1::before {
    content: '';
    position: absolute;
    top: 30px;
    left: -160px;
    width: 640px;
    height: 1350px;
    border: 1px solid var(--global-border-color);;
    border-radius: 30px;
}
.CLPCLTM00200 .content4 .cell2::before {
    content: '';
    position: absolute;
    top: 30px;
    left: -20px;
    width: 380px;
    height: 700px;
    border: 1px solid var(--global-border-color);
    border-radius: 30px;
}