
.p-datatable.mbn tr th, 
.p-datatable.mbn tr td:not(:nth-child(2)) {
    text-align: center;
}
.p-datatable.mbn tr th:first-child {
    width: 10%;
    color:gray;
}
.p-datatable.mbn tr th:nth-child(2) {
    width: 33%;
}
.p-datatable.mbn tr th:nth-child(3) {
    width: 10%;
}
.p-datatable.mbn tr th:nth-child(4) {
    width: 15%;
}
.p-datatable.mbn tr th:nth-child(5) {
    width: 7%;
}
.p-datatable.mbn tr th:nth-child(6) {
    width: 20%;
}

