@import url(../../../../../node_modules/sample-design-token/src/styles.css);

.customHeader {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 55px;
    background-color: #373737;
    /*var(--brand-primary);*/
    z-index: var(--z-index-floating);
}

.customHeader .headerInnerContents {
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0;
    /* padding: 0 20px 0 0; */
    /* max-width: calc(1180px + 230px); */
    height: 55px;
    width:1180px;
    margin: 0 auto;
}
.customHeader .logoTitle {
    color: #fff !important;
}

.customHeader .menu {
    margin-left: 10px;
    padding: 20px;
    color: #fff !important;
}
.customHeader .menu:focus {
    box-shadow: none;
}

.customHeader .ibkLogo {
    /* margin-left:10px; */
    width: 35px;
}

.customHeader .logoTitle {
    display: flex;
    align-items: center;
}

.customHeader .portalName {
    margin-left: 10px;
    font-weight: bold;
    font-size: 23px;
}

.customHeader .profileBtn {
    background-color: transparent !important;
    padding: 0 !important;
    height: 40px;
}

.customHeader .profile {
    background-color: #fff;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 10px 0 0;
}
.customHeader .profile i {
    color:#333;
}

.customHeader .accessInfo {
    margin-left: auto;
    color: #B6C2E2;
    font-size: 14px;
}

.customHeader .mainMenus {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0 auto;
}
.customHeader .mainMenus li {
    padding: 0 20px;
    font-weight: bold;
    cursor: pointer;
    height: 55px;
    line-height: 55px;
}
.customHeader .mainMenus li:last-child {
    margin-right: 0;
}
.customHeader .badgeDot {
    border: 2px solid #fff;
    min-width: 0.7rem;
    width: 0.7rem;
    height: 0.7rem;
    left: 19px;
    top: 7px;
}

.customHeader .alarmBtn {
    background-color: transparent !important;
}

.customHeader .alarmBtn .pi-bell {
    font-size: 24px;
}
