@import url(../../../../../node_modules/sample-design-token/src/styles.css);

.customHeader {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 55px;
    background-color: #373737;
    /*var(--brand-primary);*/
    z-index: var(--z-index-floating);
}

.customHeader .headerInnerContents {
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 20px 0 0;
    max-width: calc(1180px + 230px);
    height: 55px;
}
.customHeader a {
    color: #fff !important;
}

.customHeader .menu {
    margin-left: 10px;
    padding: 20px;
    color: #fff !important;
}
.customHeader .menu:focus {
    box-shadow: none;
}

.customHeader .ibkLogo {
    margin-left:10px;
    width: 35px;
}

.customHeader .logoTitle {
    display: flex;
    align-items: center;
}

.customHeader .portalName {
    margin-left: 10px;
    font-weight: bold;
    font-size: 23px;
}

.customHeader .profileBtn {
    background-color: transparent !important;
    padding: 0 !important;
    height: 40px;
}

.customHeader .profile {
    background-color: #fff;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 10px 0 0;
}
.customHeader .profile i {
    color:#333;
}

.customHeader .accessInfo {
    margin-left: auto;
    color: #B6C2E2;
    font-size: 14px;
}

.customHeader .mainMenus {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0 auto;
}
.customHeader .mainMenus li {
    margin-right: 40px;
    font-weight: bold;
    cursor: pointer;
}
.customHeader .mainMenus li:last-child {
    margin-right: 0;
}
.customHeader .badgeDot {
    border: 2px solid #fff;
    min-width: 0.7rem;
    width: 0.7rem;
    height: 0.7rem;
    left: 19px;
    top: 7px;
}

.customHeader .alarmBtn {
    background-color: transparent !important;
}

.customHeader .alarmBtn .pi-bell {
    font-size: 24px;
}

.customHeader .profileOverlayPanel {
    min-width: 200px;
}

.customHeader .profileOverlayPanel .p-overlaypanel-content {
    padding: 0 !important;
}

.p-overlaypanel .p-overlaypanel-content {
    padding: 0;
}

.profileOverlayPanel .item {
    padding: 10px !important;
}

.p-divider.p-divider-horizontal.noMargin {
    margin: 0 !important;
}

.profileOverlayPanel .userInfo {
    padding-left: 0;
    list-style: none;
}

.profileOverlayPanel .userInfo li {
    padding: 10px 15px;
    font-size: 13px;
}

.profileOverlayPanel .logoutBtn {
    padding: 0 !important
}

.profileOverlayPanel .logoutBtn .p-button-icon {
    color: #333;
}

.profileOverlayPanel .logoutBtn .p-button-label {
    color: #333;
}

.submenuOverlayPanel {
    /* position: fixed; */
    top:0;
    width: 100%;
    /* height: 100px; */
    left: 0 !important;
    margin-top: 18px;
    padding: 10px 40px 40px;
}

body.theme-light .submenuOverlayPanel {
    background-color: #F0F0F0;
}

body.theme-dark .submenuOverlayPanel {
    background-color: #555;
}

.submenuOverlayPanel:before,
.submenuOverlayPanel:after {
    display: none;
}

.submenuOverlayPanel .menus {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
}

.submenuOverlayPanel .menus li {
    color: #454545
}

body.theme-light .submenuOverlayPanel .menus li {
    color: #454545
}

body.theme-dark .submenuOverlayPanel .menus li {
    color: #fff
}

.submenuOverlayPanel .menus > li {
    padding: 30px 40px 0;
    width: 50%;
    border-right: 1px solid var(--global-border-color);
}

.submenuOverlayPanel .menus > li:last-child {
    padding-bottom: 0 !important;
}

.submenuOverlayPanel .menus > li > p {
    font-size: 26px;
    font-weight: bold;
}

.submenuOverlayPanel .menus li > ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
    
}

.submenuOverlayPanel .menus li > ul li {
    font-size: 16px;
    margin-right: 30px;
    margin-top: 10px;
}

.submenuOverlayPanel .menus li > ul li a {
    color: var(--global-text-color);
}

.submenuOverlayPanel .menus li > ul li a:hover {
    color: var(--hover-color);
    border-bottom: 1px solid var(--hover-color);
}