@import url(../../../../../node_modules/sample-design-token/src/styles.css);

.customHeader {
    width: 100%;
    height: 55px;
    background-color: #333;
    /*var(--brand-primary);*/
}

.customHeader .headerInnerContents {
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 20px 0 0;
    max-width: calc(1180px + 230px);
    height: 55px;
}
.customHeader a {
    color: #fff !important;
}

.customHeader .menu {
    margin-left: 10px;
    padding: 20px;
    color: #fff !important;
}
.customHeader .menu:focus {
    box-shadow: none;
}

.customHeader .ibkLogo {
    margin-left:10px;
    width: 35px;
}

.customHeader .logoTitle {
    display: flex;
    align-items: center;
}

.customHeader .portalName {
    margin-left: 10px;
    font-weight: bold;
    font-size: 23px;
}

.customHeader .profile {
    background-color: #fff;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 10px 0 25px;
}
.customHeader .profile i {
    color:#333;
}

.customHeader .accessInfo {
    margin-left: auto;
    color: #B6C2E2;
    font-size: 14px;
}
