
.submenuOverlayPanel {
    position: fixed;
    top:55px;
    width: 100%;
    left: 0 !important;
    padding: 10px 40px 40px;
    display: block !important;
}
.submenuOverlayPanel .innerPanel{
    width:1180px ;
    margin: 0 auto;
}
body.theme-light .submenuOverlayPanel {
    background-color: #F0F0F0;
}

body.theme-dark .submenuOverlayPanel {
    background-color: #555;
}

.submenuOverlayPanel:before,
.submenuOverlayPanel:after {
    display: none;
}

.submenuOverlayPanel .menus {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
}

.submenuOverlayPanel .menus li {
    color: var(--global-text-color)
}
/* 
body.theme-light .submenuOverlayPanel .menus li {
    color: #454545
}

body.theme-dark .submenuOverlayPanel .menus li {
    color: #fff
} */

.submenuOverlayPanel .menus > li {
    padding: 30px 40px 0;
    width: 50%;
    border-right: 1px solid var(--global-border-color);
}
.submenuOverlayPanel .menus > li:nth-child(2n){
    border-right: none;
}

.submenuOverlayPanel .menus > li:last-child {
    padding-bottom: 0 !important;
}

.submenuOverlayPanel .menus > li > p {
    font-size: 26px;
    font-weight: bold;
}

.submenuOverlayPanel .menus li > ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
    
}

.submenuOverlayPanel .menus li > ul li {
    font-size: 16px;
    margin-right: 30px;
    margin-top: 10px;
}

.submenuOverlayPanel .menus li > ul li a {
    color: var(--global-text-color);
}

.submenuOverlayPanel .menus li > ul li a:hover {
    color: var(--hover-color);
    border-bottom: 1px solid var(--hover-color);
}