
.galleria-demo .custom-indicator-galleria .indicator-text {
    color: #e9ecef;
    cursor: pointer;
}
.galleria-demo .custom-indicator-galleria .p-highlight .indicator-text {
    color: var(--primary-color);
}
  
.CLPMNLM04010 .mainSearch {
    border-radius: 9999px;
}

.CLPMNLM04010 .category{
    justify-content: space-around;
    width: 1180px;
    margin: 0 auto;
}
.CLPMNLM04010 .roundBtn {
    padding:0 20px !important;
    background-color: #E7EEF5 !important;
    height:54px;
    font-size: 20px;
}
.CLPMNLM04010 .roundBtn.on {
    background-color: #7EA0D3 !important;
}
.CLPMNLM04010 .roundBtn .p-button-label{
    font-weight: normal;
    color:#333 !important;
}
.CLPMNLM04010 .roundBtn.on .p-button-label{
    font-weight: bold;
    color: #fff !important;
}
.contentTitle{
    color:#333;
    font-size: 40px;
    text-align: center;
}

.mainSearch {
    height: 50px;
    width: 500px;
}

/* content */
.content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap
}
.item{
    border: 1px solid #EAEAEA;
    margin-bottom: 40px;
}
.item .imgWrap{ 
    position: relative;
    width:100%;
}
.item .imgWrap img{
    width:100%;
    height: auto;
}
.item .imgWrap .labelWrap{
    width:100%;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 4px;
    height: 35px;
    padding:0 10px;
}
.labelWrap .chip{
    height: 25px;
    font-size: 13px;
    font-weight: bold;
}
.labelWrap .chip.red{
     background: #FFE5E8;
     color:#D20319;
}
.labelWrap .chip.blue{
    background: #E8F1FF;
    color:#0250EC;
}
.labelWrap .chip.yellow{
    background: #FEE598;
    color:#56481E;
}
.itemInfo {
    padding: 20px;
}
.itemInfo .p-button {
    height: 40px;
    font-size: 14px;
}
.itemInfo h3 {
    margin-bottom: 16px;
}
.itemInfo p {
    margin-bottom: 16px;
    font-size: 14px;
}
/* swiper */
.swiper {
  width: 100%;
  height: 390px;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom:0;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  /* -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center; */
  /* align-items: center; */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* visual */
.visual {
    display: flex;
    height: 355px;
    min-width: 100%;
}
.visual div{
    width:50%;
    
}
.visual .visualText {
    background: #3C4059;
    color:#fff;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.visual .visualText h2{
    font-size:40px;
}
.visual .visualText p{
    font-size:20px;
}
.visual .visualText .outline {
    border:1px solid #fff;
    background: transparent !important;
    color: #fff !important;
    border-radius: 20px;
    padding:10px 40px;
    height:40px;
    font-size: 16px;
}
.iconBtnAdd{
    background: transparent !important;
    width: 50px;
    height: 50px;
    color:#ccc;
  }
  .iconBtnAdd .p-button-icon {
    color: var(--gray-scale-gray500) !important;
    font-size: 48px;
  }
  .iconBtnAdd .p-button-icon:hover {
    color: var(--gray-scale-gray800) !important;
  }