
.galleria-demo .custom-indicator-galleria .indicator-text {
    color: #e9ecef;
    cursor: pointer;
}
.galleria-demo .custom-indicator-galleria .p-highlight .indicator-text {
    color: var(--primary-color);
}
  
.CLPMNLM04010 .mainSearch {
    border-radius: 9999px;
}

.CLPMNLM04010 .category{
    justify-content: space-around;
    width: 1180px;
    margin: 0 auto;
}
.CLPMNLM04010 .roundBtn {
    padding:0 20px !important;
    background-color: #E7EEF5 !important;
    height:54px;
    font-size: 20px;
}
.CLPMNLM04010 .roundBtn.on {
    background-color: #7EA0D3 !important;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);

}
.CLPMNLM04010 .roundBtn .p-button-label{
    font-weight: normal;
    color:#333 !important;
}
.CLPMNLM04010 .roundBtn.on .p-button-label{
    font-weight: bold;
    color: #fff !important;
}
.contentTitle{
    color:#333;
    font-size: 40px;
    text-align: center;
}

.mainSearch {
    height: 50px;
    width: 500px;
}




.iconBtnAdd{
    background: transparent !important;
    width: 50px;
    height: 50px;
    color:#ccc;
  }
  .iconBtnAdd .p-button-icon {
    color: var(--gray-scale-gray500) !important;
    font-size: 48px;
  }
  .iconBtnAdd .p-button-icon:hover {
    color: var(--gray-scale-gray800) !important;
  }