

.floatMenuBox {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    background-color: var(--dialog-background-color);
    color: var(--global-text-color);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    list-style: none;
    padding-left: 0;
    padding: 20px 10px;
}

.floatMenuBox li {
    text-align: center;
    margin-bottom: 20px;
}

.floatMenuBox li:last-child {
    margin-bottom: 0;   
}

.floatMenuBox li p {
    font-size: 12px;
    color: var(--global-text-color);
    margin-top: 5px;
}

.floatMenuBox li i {
    font-size: 40px;
}

.icon-cart {
    color: #000;
}

.icon-cart:hover {
    color: var(--global-text-color);
}

.icon-cart {
    position: relative;
    top:0;
    left:0;
    background-image: url(../../../../assets/images/icons/icon-cart.svg);
    background-size: 40px auto;
    background-repeat: no-repeat;
    display: block;
    width: 40px;
    min-width: 40px;
    height: 40px;
    text-align: center;
    margin:0 auto;
}

.icon-cart:hover {
    position: relative;
    top:0;
    left:0;
    background-image: url(../../../../assets/images/icons/icon-cart-on.svg);
    background-size: 40px auto;
    background-repeat: no-repeat;
    display: block;
    width: 40px;
    min-width: 40px;
    height: 40px;
    text-align: center;
    margin:0 auto;
}

.icon-qna {
    position: relative;
    top:0;
    left:0;
    background-image: url(../../../../assets/images/icons/icon-qna.svg);
    background-size: 35px auto;
    background-repeat: no-repeat;
    display: block;
    width: 35px;
    min-width: 35px;
    height: 52px;
    text-align: center;
    margin:0 auto;
}

.icon-qna:hover {
    position: relative;
    top:0;
    left:0;
    background-image: url(../../../../assets/images/icons/icon-qna-on.svg);
    background-size: 35px auto;
    background-repeat: no-repeat;
    display: block;
    width: 35px;
    min-width: 35px;
    height: 52px;
    text-align: center;
    margin:0 auto;
}

.icon-faq {
    position: relative;
    top:0;
    left:0;
    background: url(../../../../assets/images/icons/icon-faq.svg);
    background-size: 40px auto;
    background-repeat: no-repeat;
    display: block;
    width: 40px;
    min-width: 40px;
    height: 40px;
    text-align: center;
    margin:0 auto;
    margin-bottom: 7px;
}

.icon-faq:hover {
    position: relative;
    top:0;
    left:0;
    background: url(../../../../assets/images/icons/icon-faq-on.svg);
    background-size: 40px auto;
    background-repeat: no-repeat;
    display: block;
    width: 40px;
    min-width: 40px;
    height: 40px;
    text-align: center;
    margin:0 auto;
    margin-bottom: 7px; 

}

body.theme-dark .icon-cart {
    background-image: url(../../../../assets/images/icons/icon-cart-white.svg);
}

body.theme-dark .icon-qna {
    background-image: url(../../../../assets/images/icons/icon-qna-white.svg);
}

body.theme-dark .icon-faq {
    background: url(../../../../assets/images/icons/icon-faq-white.svg);
}

.qnaBtn {
    border: 0 none;
    background: transparent;
}

.qnaBox {
    position: fixed;
    bottom: 20px;
    right: 120px;
    background-color: var(--dialog-background-color);
    color: var(--global-text-color);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    list-style: none;
    padding-left: 0;
    padding: 20px;
    width: 400px;
}

.show {
    display: block;
}

.hide {
    display: none;
}