.divider {
    color: var(--global-text-muted-color);
    margin:0 5px;
}

.infoBoard {
    width: 100%;
    border: 1px solid #F2F2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    margin-bottom: 30px;
}

.infoBoard .titleArea {
    /* display: flex;
    align-items: flex-end; */
    background-color: #F2F2F2;
    padding: 12px 20px;
}

.infoBoard .titleArea h1 {
    font-size: 20px;
    margin-right: 10px;
}

.infoBoard .contentArea {
    padding: 20px;
}

.infoBoard ul.links {
    list-style: none;
}

.infoBoard ul.links li {
    display: flex;
    margin-bottom: 10px;
}

.infoBoard ul.links li a {
    display: inline-block;
    color: var(--global-text-color);
    width: 100%;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space:nowrap;
    font-size: 14px;
}

.infoBoard ul.links li a:hover {
    color: var(--hover-text-color);
}

.p-toast {
    z-index: 3000;
}
