/* comment 댓글 */
.commentWrap .titel{
  color: var(--brand-primary);
  font-weight: bold;
  margin-bottom: 8px;
}
.commentWrap .titel span{
  color: gray;
  font-size: 13px;
}
.comment{
  background: #F7F8F9;
  border-radius: 10px;
  padding: 12px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}
.comment .commentContents{
  display: flex;flex-direction: column;flex: 1;
}
.comment .content{
  color:var(--global-text-color);
  font-size: 13px;
}
.comment .date{
  color:#64748B;
  font-size: 13px;
}
.comment .iconBtn{
  width: 23px;
  height: 23px;
  background: transparent !important;
}
.comment .iconBtn .p-button-icon {
  /* color: var(--brand-primary) !important; */
  font-size: 23px;;
}
.commentWrap .more {
  background: transparent !important;
  color: var(--brand-primary) !important;
}
body.theme-dark .comment{
  background: var(--dialog-overay-color);
}
.profile {
  background-color: #fff;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #E6E6E6;
}
 .profile i {
  color:#333;
}
.profileName{
  color:#64748B;
  font-weight: 500;
  font-size:14px;
}

body.theme-dark .comment{
  background-color: var(--dialog-background-color);
}
body.theme-dark .profileName{
  color:#fff;
}
body.theme-dark .comment .date{
  color:#e6e6e6;
}

/* the fast cloud 신청 관리 목록*/
/* 기존 파일 다운로드 splite button*/
.p-splitbutton.p-button-outlined > .p-button{
  color: #ccc;
}
.p-splitbutton span{
  color: var(--brand-primary) !important;
}
.p-menuitem {
  font-size: 13px;
}

/* 이벤트 관리 */
.eventTitle{
  font-size: 22px;
  font-weight: bold;
  text-align: left;
  padding:10px 20px;
  color:#333;
}
/** accordion **/
.p-accordion .p-accordion-tab {
  box-shadow: 0px 4px 8px -2px rgb(16 24 40 / 10%), 0px 2px 4px -2px rgb(16 24 40 / 6%);
  margin-bottom: 12px;
}
.p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link{
  background-color: var(--layout-background);
  color: var(--global-text-color);
  border: 1px solid var(--global-border-color);
}
.p-accordion .p-accordion-header .p-accordion-header-link {
  background: transparent;
  border: 1px solid var(--global-border-color);
}
.p-accordion .p-accordion-content {
  background: transparent;
  border: 1px solid var(--global-border-color);
  border-top: none;
}
body.theme-dark .p-accordion .p-accordion-header:not(.p-disabled).p-highlight:hover .p-accordion-header-link,
body.theme-dark .p-accordion .p-accordion-header:not(.p-highlight):not(.p-disabled):hover .p-accordion-header-link {
  background: #666;
  color:#fff;
}
body.theme-dark .p-accordion .p-accordion-header .p-accordion-header-link {
  color:#fff;
  background-color: #333;
}
body.theme-dark .p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link,
body.theme-dark .p-accordion .p-accordion-content {
  background-color: #333;
}

.error-text{
  color:var(--brand-error);
}

/* 설문 관리 */
.survey {
  margin:20px 10px;
}

.surveyBox {
  padding: 10px;
  width:100%;
  border: 1px solid var(--global-border-color);
  border-radius: var(--borderRadius-sm);
  margin-bottom: 20px;
}

.scaleWrap {
  display: flex;
  align-items: center;
}
.scale{
  position:relative;
  display: inline-block;
  height: 40px;
  width:16px;
  margin-right: 20px;
}
.scale .p-radiobutton {
  position:absolute;
  top:20px;
  left:50%;
  margin-left:-8px;
}
.scale label{
  width:100%;
  text-align: center;
  display:inline-block;
  font-size: 11px;
  color:#888888;
}
.surveyBox .swichText{
  width:30px;
  display: block;
}
.iconBtn{
  width: 23px;
  height: 23px;
  background: transparent !important;
}
.iconBtn .p-button-icon {
  color: var(--brand-brand-gray) !important;
  font-size: 23px;
}
.iconBtn .p-button-icon:hover{
  color: var(--brand-primary) !important;
}
.labelScale{
  width:var(--space-md);
}
.iconBtnAdd{
  background: transparent !important;
  width: 50px;
  height: 50px;
}
.iconBtnAdd .p-button-icon {
  color: var(--gray-scale-gray800) !important;
  font-size: 48px;
}
.roundBtn {
  height: 60px;
  /* border-radius: 30px; */
  padding:0 40px !important;
  font-size: 20px;
  box-sizing: border-box;
}
.roundBtn.white {
  color: #fff !important;
  background: transparent !important;
  border: 1px solid #fff !important;
}
.roundBtn.white:hover {
  background: var(--brand-secondary) !important;
  border: 0 none !important;
}
.view-container {
  margin: 30px auto 0;
}

.p-datatable .p-datatable-tbody > tr > td {
  cursor: pointer;
}
.cld-table th, 
.cld-table .p-datatable-thead tr th, 
.p-datatable th, 
.p-datatable .p-datatable-thead tr th,
.cld-table td, 
.cld-table .p-datatable-thead tr td, 
.p-datatable td, 
.p-datatable .p-datatable-thead tr td {
  border-bottom: 1px solid var(--global-border-color) !important;
}

/* editor 수정*/
.p-editor-container .p-editor-toolbar.ql-snow .ql-stroke {
  stroke: var(--global-text-color);
}
.p-editor-container .p-editor-toolbar.ql-snow .ql-picker .ql-picker-label {
  color: var(--global-text-color);
}
body.theme-dark .p-editor-container .p-editor-toolbar {
  background-color: var(--dialog-background-color);
}
body.theme-dark .p-editor-container .p-editor-toolbar.ql-snow {
  border: var(--global-border-color)
}
.p-editor-container .p-editor-content .ql-editor {
  background-color: var(--input-background-color);
}
.p-editor-container .p-editor-content.ql-snow {
  border: 1px solid var(--global-border-color) !important;
}
.p-editor-container .p-editor-content .ql-editor {
  color: var(--global-text-color);
}
body.theme-dark .p-paginator .p-paginator-pages .p-paginator-page.p-highlight{
  background-color: #666;
  color: #fff;
}
body.theme-dark .p-paginator .p-paginator-pages .p-paginator-page{
  border-left: none;
}
body.theme-dark .p-togglebutton.p-button .p-button-icon-left, 
body.theme-dark .p-togglebutton.p-button .p-button-icon-right {
 color: #fff;
}
body.theme-dark .infoBoard{
  border:none;
  background-color: #454545;
}
body.theme-dark .infoBoard .titleArea {
  background-color: #333;
  border-radius: 8px 8px 0 0;
}
body.theme-dark .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text{
  color:#fff;
}
body.theme-dark .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-submenu-icon{
 color:#fff; 
}
body.theme-dark .p-tabview .p-tabview-panels,
body.theme-dark .p-tabview .p-tabview-nav {
  background-color: transparent;
  color:#fff;
}
body.theme-dark .p-tabview .p-tabview-nav li .p-tabview-nav-link {
  background-color: transparent;
  color:#fff !important;
}
body.theme-dark .p-tabview .p-tabview-nav li .p-tabview-nav-link:hover{
  color:#E6E6E6 !important;
}
body.theme-dark .boardDtailPagination td a {
  color:#cccccc !important;
}

body.theme-dark .boardDtailPagination td a {
    color: #cccccc !important;
}
body.theme-dark .boardDtailPagination td a:hover {
    color: var(--brand-primary) !important;
}
body.theme-dark .boardDtailPagination td .iconTitle {
  color:#999;
}

/* fileUpload */
.fileUpload > div {
  width:25%;
  text-align: left;
}
.p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link{
  background: transparent;
}
.p-tabview .p-tabview-nav .p-tabview-ink-bar{
  background-color:var(--brand-primary);
}
body.theme-dark .p-fileupload .p-fileupload-buttonbar {
  border:1px solid var(--global-border-color) !important;
  background-color: var(--dialog-background-color) !important;
  border-bottom: 0 !important;
}
body.theme-dark .p-fileupload .p-fileupload-content{
  background-color: var(--dialog-background-color);
  border:1px solid var(--global-border-color) !important;
}

/* calendar icon 배경 */
.pi-calendar:before {
  background: url(../../assets/images/btn-icon-calandar.svg) no-repeat;
  content: '';
  height: 18px;
  width: 18px;
  display: inline-block;
  background-size: contain;
}
.p-button.p-datepicker-trigger {
  background-color: transparent !important;
  border:1px solid var(--global-border-color) !important;
  border-left: none !important;
}
.p-calendar .p-inputtext{
  border-right: none !important;
}
.p-button.p-datepicker-trigger:not([disabled]):hover, .p-splitbutton .p-button.p-datepicker-trigger:not([disabled]):hover{
  background: transparent;
}