/* comment 댓글 */
.commentWrap .titel{
  color: var(--brand-primary);
  font-weight: bold;
  margin-bottom: 8px;
}
.commentWrap .titel span{
  color: gray;
  font-size: 13px;
}
.comment{
  background: #F7F8F9;
  border-radius: 10px;
  padding: 12px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}
.comment .commentContents{
  display: flex;flex-direction: column;flex: 1;
}
.comment .content{
  color: #333;
  font-size: 13px;
}
.comment .date{
  color:#64748B;
  font-size: 13px;
}
.comment .iconBtn{
  width: 23px;
  height: 23px;
  background: transparent !important;
}
.comment .iconBtn .p-button-icon {
  /* color: var(--brand-primary) !important; */
  font-size: 23px;;
}
.commentWrap .more {
  background: transparent !important;
  color: var(--brand-primary) !important;
}
.profile {
  background-color: #fff;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #E6E6E6;
}
 .profile i {
  color:#333;
}
.profileName{
  color:#64748B;
  font-weight: 500;
  font-size:14px;
}

/* the fast cloud 신청 관리 목록*/
/* 기존 파일 다운로드 splite button*/
.p-splitbutton.p-button-outlined > .p-button{
  color: #ccc;
}
.p-splitbutton span{
  color: var(--brand-primary) !important;
}
.p-menuitem {
  font-size: 13px;
}

/* 이벤트 관리 */
.eventTitle{
  font-size: 22px;
  font-weight: bold;
  text-align: left;
  padding:10px 20px;
  color:#333;
}
/** accordion **/
.p-accordion .p-accordion-tab {
  box-shadow: 0px 4px 8px -2px rgb(16 24 40 / 10%), 0px 2px 4px -2px rgb(16 24 40 / 6%);
  margin-bottom: 12px;
}
.p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link{
  background-color: #fff;
  color: #333;
  border: 1px solid #e6e6e6;
}
.p-accordion .p-accordion-header .p-accordion-header-link {
  background: #fff;
  border: 1px solid #e6e6e6;
}

.error-text{
  color:var(--brand-error);
}

/* 설문 관리 */
.survey {
  margin:20px 10px;
}

.surveyBox {
  padding: 10px;
  width:100%;
  border: 1px solid var(--global-border-color);
  border-radius: var(--borderRadius-sm);
  margin-bottom: 20px;
}

.scaleWrap {
  display: flex;
  align-items: center;
}
.scale{
  position:relative;
  display: inline-block;
  height: 40px;
  width:16px;
  margin-right: 20px;
}
.scale .p-radiobutton {
  position:absolute;
  top:20px;
  left:50%;
  margin-left:-8px;
}
.scale label{
  width:100%;
  text-align: center;
  display:inline-block;
  font-size: 11px;
  color:#888888;
}
.surveyBox .swichText{
  width:30px;
  display: block;
}
.iconBtn{
  width: 23px;
  height: 23px;
  background: transparent !important;
}
.iconBtn .p-button-icon {
  color: var(--brand-brand-gray) !important;
  font-size: 23px;
}
.iconBtn .p-button-icon:hover{
  color: var(--brand-primary) !important;
}
.labelScale{
  width:var(--space-md);
}
.iconBtnAdd{
  background: transparent !important;
  width: 50px;
  height: 50px;
}
.iconBtnAdd .p-button-icon {
  color: var(--gray-scale-gray800) !important;
  font-size: 48px;
}
.roundBtn {
  height: 60px;
  /* border-radius: 30px; */
  padding:0 40px !important;
  font-size: 20px;
}