.mainContents {
    min-width: 1280px;
}
.mainContents section {
    position: relative;
    top:0;
    left:0;
    width: 100%;
    color: #fff;
    cursor: default;
    text-align: center;
}
.mainContents hr {
    border: 0 none;
    height: 1px;
    width: 90px;
    background-color: #fff;
    margin: 20px 0;
}
.mainContents hr.black {
    background-color: #000;
}
.mainContents section h1 {
    font-size: 64px;
}
.mainContents section h2 {
    font-size: 50px;
}
.mainContents section h3 {
    font-size: 30px;
}
.mainContents section h4 {
    font-size: 24px;
}
.mainContents section h5 {
    font-size: 20px;
}
.mainContents section p.subText {
    font-size: 24px;
    font-weight: 400;
}
.mainContents section .text {
    font-size: 20px;
}
.mainContents section .underline {
    border-bottom: 1px solid #fff;
    display: inline-block;
    padding-bottom: 5px;
}
.mainContents section .underline.black {
    border-bottom: 1px solid #000;
}
.mainContents .content1 .mainVisual {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 720px;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.mainContents .content1 .swiper {
    height: 720px !important;
    width: 100%;
}
.mainContents .content1 .mainVisual.v1 {
    background-image: url(../../../../assets/images/main/main1.jpg);
}
.mainContents .content1 .mainVisual.v2 {
    background-image: url(../../../../assets/images/main/main7-1.jpg);
}
.mainContents .content1 .mainVisual.v3 {
    background-image: url(../../../../assets/images/main/main7-2.jpg);
}

.mainContents .videoBg {
    position: relative;
    top:0;
    left:0;
    width: 100%;
    min-width: 1280px;
}
.mainContents .copyWrapper {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,.3);
}
.mainContents .content1 .copyWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.mainContents .content1 .textWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.mainContents .content1 .copyWrapper p {
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition-timing-function: ease-out;
    opacity: 0;
}
.mainContents .content1 .copyWrapper .motionStart {
    animation-name: slideRtL;
}
.mainContents .content1 .copyWrapper .motionStart.text {
    animation-name: slideUp50;
}

/* 페이지네이션 배너 화살표 위치 재조정 */
.swiper-pagination-custom, .swiper-pagination-fraction {
    left: 50px !important;
    bottom: 30px !important;
    width: 60px !important;
    font-size: 20px;
}
.swiper-button-prev, .swiper-button-next {
    top: auto !important;
    bottom: 20px !important;
    color: #fff !important;
}
.swiper-button-prev {
    left: 0;
}
.swiper-button-next {
    right: auto !important;
    left: 120px !important;
}
/* .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: '\e91a' !important;
} */

.mainContents .content2 {
    display: flex;
    justify-content: space-evenly;
}
.mainContents .content2 .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 180%;
    height: 650px;
    width: 100%;
    
    transition: background-size .5s ease-out;
    -moz-transition: background-size .5s ease-out;
    -ms-transition: background-size .5s ease-out;
    -o-transition: background-size .5s ease-out;
    -webkit-transition: background-size .5s ease-out;
}
.mainContents .content2 .banner:hover {
    background-size: 220%;
}
.mainContents .content2 .banner h3 {
    text-align: center;
}
.mainContents .content2 .banner h3 {
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition-timing-function: ease-out;
    opacity: 0;
}
.mainContents .content2 .banner h3.motionStart {
    animation-name: slideUp100;
}
.mainContents .content2 .banner.c2 h3.motionStart {
    animation-delay: 200ms;
}
.mainContents .content2 .banner.c3 h3.motionStart {
    animation-delay: 400ms;
}
.mainContents .content2 .banner.c1 {
    background-image: url(../../../../assets/images/main/main2-1.png);
}
.mainContents .content2 .banner.c2 {
    background-image: url(../../../../assets/images/main/main2-2.png);
}
.mainContents .content2 .banner.c3 {
    background-image: url(../../../../assets/images/main/main2-3.png);
}

.mainContents .content3 {
    height: 720px;
    overflow: hidden;
}
.mainContents .content3 .copyWrapper {
    display: flex;
    padding: 100px 130px;
}
.mainContents .content3 .conWrapper {
    display: flex;
    justify-content: flex-start;
    width: 50%;
}
.mainContents .content3 h5 {
    color: #23B7E5;
}

.mainContents .content3 .conWrapper .leftTextWrapper {
    margin-right: auto;
    text-align: left;
    width: 100%;
    opacity: 0;
}
.mainContents .content3 .conWrapper .rightTextWrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: auto;
    margin-top:auto;
    text-align: right;
    opacity: 0;

    animation-delay: 200ms;
}

.mainContents .content4 {
    padding: 120px 0;
    color: #000;
}
.mainContents .content4 .bannerWrapper {
    display: flex;
    justify-content: space-evenly;
}
.mainContents .content4 .bannerWrapper .banner {
    margin:20px;
}

.mainContents .content4 .bannerWrapper .imgWrapper {
    position: relative;
    top:0;
    left: 0;
    width: 420px;
    height: 230px;
    cursor: pointer;
    overflow: hidden;
}
.mainContents .content4 .bannerWrapper .imgWrapper:hover .textWrapper {
    transform: translateY(0);
    animation-name: slideUp50;
}
.mainContents .content4 .bannerWrapper .imgWrapper .textWrapper {
    position: absolute;
    top:0;
    left:0;
    background: rgba(0, 0, 0, .7);
    width: 420px;
    height: 230px;
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    transform: translateY(230px);
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition-timing-function: ease-out;
    
}
.mainContents .content4 .bannerWrapper .textWrapper button {
    margin-top: 15px;
    background: transparent !important;
    font-size: 20px;
}
.mainContents .content4 .subText {
    margin: 10px 0 5px;
    color: #ccc;
    font-size: 20px;
}
.mainContents .content5 {
    padding: 120px 0;
    background-image: url(../../../../assets/images/main/main5.jpg);
}
.mainContents .content5 .subText {
    color: #fff;
}
.mainContents .content6 {
    padding: 120px 0;
    color: #000;
}

.mainContents .content6 .aboutService {
    display: flex;
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #E6E6E6;
}
.aboutServiceSwiper {
    position: relative;
    top:0;
    left:0;
    width: 100%;
    height: 525px;
}
.aboutServiceSwiper .swiper-wrapper {
    left:590px
}
.aboutServiceSwiper .swiper-slide {
    width: 590px;
    padding: 70px;
}
.aboutServiceSwiper .swiper-slide img {
    width: 100%;
}
.aboutServiceSwiper .swiper-pagination {
    left: 0 !important;
    
}
.aboutServiceSwiper .swiper-pagination-bullet {
    position: relative;
    top:0;
    left: 0 !important;
    width: 590px !important;
    height: 175px !important;
    padding: 35px !important;
    margin: 0 !important;
    color: #000;
    background: #fff !important;
    text-align: left;
    display: flex !important;
    align-items: center;
    border-right: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    cursor: pointer;
    opacity: initial !important;
    border-radius: initial !important;
}
.aboutServiceSwiper .swiper-pagination-bullet .innerWrapper p {
    display: none;
}
.aboutServiceSwiper .swiper-pagination-bullet-active {
    color: #fff !important;
    background: var(--brand-primary) !important;
}
.aboutServiceSwiper .swiper-pagination-bullet-active .innerWrapper p {
    display: block;
}
.aboutServiceSwiper  .swiper-pagination-bullet:last-child {
    border-bottom: 1px solid #E6E6E6;
}
.aboutServiceSwiper .swiper-pagination-bullet h3 {
    margin-bottom: 7px;
}
.aboutServiceSwiper .swiper-pagination-bullet p {
    font-size: 20px;
}
.mainContents .content6 .aboutService .textBanner {
    list-style: none;
    padding-left: 0;
}
.mainContents .content6 .aboutService .textBanner li {
    position: relative;
    top:0;
    width: 590px;
    height: 175px;
    padding: 35px;
    color: #000;
    background-color: #fff;
    text-align: left;
    display: flex;
    align-items: center;
    border-right: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    cursor: pointer;
}
.mainContents .content6 .aboutService .textBanner li:last-child {
    border-bottom: 1px solid #E6E6E6;
}
.mainContents .content6 .aboutService .textBanner li.on {
    color: #fff;
    background-color: var(--brand-primary);
}
.mainContents .content6 .aboutService .textBanner li h3 {
    margin-bottom: 7px;
}
.mainContents .content6 .aboutService .textBanner li p {
    font-size: 20px;
}
/*
.mainContents .content7 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 430px;
}
.mainContents .content7 .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 430px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.mainContents .content7 .banner.b1 {
    background-image: url(../../../../assets/images/main/main7-1.jpg);
}
.mainContents .content7 .banner.b2 {
    background-image: url(../../../../assets/images/main/main7-2.jpg);
}
*/
.mainContents .content7 {
    padding: 120px 0;
    background-image: url(../../../../assets/images/main/main8.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainContents .textBtn {
    background: transparent;
}

.mainContents .motionInit {
    opacity: 0;
}
.mainContents .slideUp50.motionInit {
    opacity: 0;
    transform: translateY(50px);
}
.mainContents .slideUp.motionInit {
    opacity: 0;
    transform: translateY(100px);
}
.mainContents .slideRtL.motionInit {
    opacity: 0;
        transform: translateX(200px);
}

.mainContents .motionStart {
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition-timing-function: ease-out;
}
.mainContents .motionStart.slideUp50 {
    opacity: 0;
    transform: translateY(50px);
    animation-name: slideUp50;
}
.mainContents .motionStart.slideUp {
    opacity: 0;
    transform: translateY(100px);
    animation-name: slideUp100;
}
.mainContents .motionStart.slideRtL {
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition-timing-function: ease-out;
    animation-name: slideRtL;
}
.mainContents .motionStart.slideLtR {
    opacity: 0;
    transform: translateX(-100px);
    animation-name: slideLtR;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes slideLtR {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideRtL {
    from {
        opacity: 0;
        transform: translateX(200px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideRtL50 {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideUp50 {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideUp100 {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideUp150 {
    from {
        opacity: 0;
        transform: translateY(150px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideUp200 {
    from {
        opacity: 0;
        transform: translateY(200px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.mainContents .motionStart:nth-child(2) {
    animation-delay: 200ms;
}
.mainContents .motionStart:nth-child(3) {
    animation-delay: 400ms;
}
.mainContents .motionStart:nth-child(4) {
    animation-delay: 600ms;
}
.mainContents .motionStart:nth-child(5) {
    animation-delay: 800ms;
}
.mainContents .motionStart:nth-child(6) {
    animation-delay: 1s;
}
.mainContents .motionStart:nth-child(7) {
    animation-delay: 1.2s;
}