.cmnInfo {
    display: flex;
    justify-content: space-between;
}
.cmnInfo .profile {
    width:20px;
    height: 20px;
    font-size: 14px;
}
.cmnInfo .profile i {
    font-size:12px;
}
.cmnInfo .info li::after{
    content: '';
    display: inline-block;
    width:1px;
    height: 10px;
    background-color: #ccc;
    margin-left:10px;
    margin-right: 10px;

}
.cmnInfo .info li:last-child::after{
    width:0;
}
.cmnInfo .info2 {
    display: flex;
    list-style: none;
}
.cmnInfo .info2 li {
    display: flex;
    align-items: center;
}
.cmnInfo .info2 li i{
    font-size: 20px;
}