* {
  outline: none;
}

.wHalf {
  width:50%;
}

.box {
  padding: 10px;
  border: 1px solid var(--global-border-color);
  box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
  border-radius: var(--borderRadius-sm);
  
}

.innerLine {
  border-top: 1px solid var(--global-border-color);
  margin: 10px -10px;
}

.treeContainer {
  display: flex;
  width: 100%;
}

.treeContainer .treeLeftContainer {
  width: 400px;
}

.treeContainer .treeRightContainer {
  flex:1;
}

.treeBox {
  min-height: 250px;
}

.treeBox .treeNodata {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
}

.treeBox .treeNodeBtn {
  width: 23px;
  height: 23px;
  background: transparent !important;
  z-index: 1000;
}

.treeBox .treeNodeBtn .p-button-icon {
  color: var(--brand-primary) !important
}

.p-treenode .p-treenode-label {
  width: 100%;
}

.treeNode {
  display: flex;
  align-items: center;
}

.treeNode .nodeLabel {
  flex: 1;
  padding: 10px 0;
}

.p-tree-toggler-icon.pi-chevron-right:before {
  content: "\e963" !important;
}

.p-tree-toggler-icon.pi-chevron-down:before {
  content: "\e963" !important;
}

/* 빈폴더 */
/* .p-treenode-leaf>.p-treenode-content .p-tree-toggler {
  visibility: visible !important;
}
.p-tree-toggler-icon[aria-hidden="true"]:before {
  --webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
}
.p-tree-toggler-icon[aria-hidden="true"]:after {
  --webkit-backface-visibility: hidden !important;
  backface-visibility: hidden !important;
} */

.p-tree-toggler-icon {
  font-size: 20px;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler {
  margin-right: 0;
  color: var(--brand-primary);
}

.p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight .p-tree-toggler:hover,
.p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight .p-tree-toggler, 
.p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight .p-treenode-icon {
  color: var(--brand-primary);
}

.p-tree .p-tree-container .p-treenode {
  padding: 3px 0;
}

.p-tree-toggler[aria-label="Collapse"] .p-tree-toggler-icon:after {
  content: '';
  position: absolute;
  top: 17px;
  left: 12px;
  font-weight: bold;
  border-top: 2px solid var(--brand-primary);
  width: 7px;
  height: 1px;
}

.p-tree-toggler[aria-label="Expand"] .p-tree-toggler-icon:after {
  content: '+';
  position: absolute;
  top: 9px;
  left: 12px;
  font-size: 14px;
  font-weight: bold;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight {
  background: #EEF2FF;
  color: var(--brand-primary);
}

.p-tree {
  border: 0 none;
  background: transparent;
  color: #495057;
  padding: 0;
  border-radius: 6px;
}

.p-treenode-label {
  font-size: 13px;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content {
  padding: 0;
}



.grayBtn {
  background: #667085 !important;
  border-radius: var(--borderRadius-sm);
}


.deleteFileBtn {
  height:17px;
  background-color: transparent !important;
  color: #667085 !important;
}
/* 
.p-tabview-selected .p-tabview-title {
  color: var(--brand-primary);
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: #ffffff;
  border-color: var(--brand-primary);
  color: var(--brand-primary);
} */

.show {
  display: block;
}

.hide {
  display: none;
}

.viewDateRangePicker .p-calendar {
  width: 120px;
}

.p-fileupload .p-fileupload-buttonbar {
  padding: 0.5rem;
}

.p-fileupload .p-progressbar-label {
  position: relative;
  top:-2px;
  font-size: 12px;
}

.downloadFiles {
  border: 1px solid var(--global-border-color);
  border-radius: 4px;
  padding:10px;
}

.downloadFiles .fileList {
  list-style: none;
}

.downloadFiles .fileList li {
  margin-bottom: 10px;
}

.downloadFiles .fileList li:last-child {
  margin-bottom: 0;
}

.p-datepicker {
  width: 420px !important
}

table caption {height : 0 !important}

.downloadIco {
  font-size: 12px;

}

table .color-primary {
  color: initial !important;
}

.required {
  font-weight: bold;
  color: var(--brand-secondary);
}

table .required {
   margin-left:3px;
}

.infoTxt {
  color: var(--global-placeholder-color);
}


:root {
  --primary-color: var(--brand-primary) !important;
  --focus-ring: 0 0 0 0.2rem red !important;
}

.title {
  color: var(--brand-primary)
}



.navi {
  -webkit-transition: all .2s, -webkit-transform .2s;
  transition: all .2s, transform .2s;
}
.navi.open {
  transform: none;
  transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.navi.close {
  transform: translateX(-240px);
  visibility: hidden;
}

.pageContainer.open {
  transition: margin 225ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    margin-left: 0;
}
.pageContainer.close {
  transition: margin 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    margin-left: -215px;
    
}




.searchBar {
  display: flex;
  
}
.searchBar > * {
  margin-right: 10px;
}
.searchBar > *:last-child {
  margin-right: 0;
}
.searchBar .searchTxt {
  flex: 1;
}
.searchBar .p-dropdown {
  width: 150px;
}
.searchBar .p-calendar {
  width: 120px;
}
.searchBar .searchBtn {
  width: 60px;
}



.pageNm {
  font-weight: bold;
  color: var(--brand-primary);
}

.toolbar {
  display: flex;
  align-items: center;
}

/* boardDtail table */
.boardDtailTable td, .p-datatable td{
  padding:20px;
}
.boardDtailTable .tableInfo .title{
  color:#333;
}
.boardDtailTable .downloadFiles{
  border:none;
  padding:0px;
}
.boardDtailTable .info {
  list-style: none;
  display: flex;
}
.boardDtailTable .info span {
  font-weight: 500;
  margin-right:4px;
}
.boardDtailPagination td{
  padding:10px 24px;
}
.boardDtailPagination td a{
  color:#333 !important;
  font-weight: 500 !important;
}
.boardDtailPagination td a:hover{
  color: var(--brand-primary) !important;
}
.boardDtailPagination td .iconTitle {
  color:#667085;
  margin-right: 20px;
}
.boardDtailPagination .iconArrow{
  font-size: 12px;
  margin-left:10px;
}

