.p-datatable.evnWin {
    width:800px;
    margin: 0 auto;
}
.p-datatable.evnWin tr th, 
.p-datatable.evnWin tr td {
    text-align: center;
    width:25%;
}
.reply{
    background: url(../../../../../assets/images/icon-reply.png) no-repeat;
    padding-left : 25px;
}