.p-datatable.ent .p-datatable-tbody > tr > td:nth-child(2) {
    color: var(--brand-primary)
}
.p-datatable.ent tr th, 
.p-datatable.ent tr td:not(:nth-child(1)) {
    text-align: center;
}
.p-datatable.ent tr th:first-child {
    width: 45%;
    color:gray;
}
.p-datatable.ent tr th:nth-child(2) {
    width: 12%;
}
.p-datatable.ent tr th:nth-child(3) {
    width: 8%;
}
.p-datatable.ent tr th:nth-child(4) {
    width: 15%;
}
.p-datatable.ent tr th:nth-child(5) {
    width: 20%;
}
.reply{
    background: url(../../../../../assets/images/icons/icon-reply.svg) no-repeat;
    background-size: 16px;
    position: relative;
    padding-left: 20px;
}


.CLPENTM07210.hasSubVisual .subVisualContainer {
    background-image: url(../../../../../assets/images/evt-bg.jpg);
}