.pageTitleContainer {
    box-sizing: border-box;
    width: 100%;
    height: 110px;
    left: 0px;
    top: 55px;
    /* border-bottom: 1px solid #E6E6E6; */
    border-bottom: 1px solid var(--global-border-color);
    padding:12px 20px;
    background-color: #E7EEF5;
}
body.theme-dark .pageTitleContainer {
    background-color: #4b4b4b;
}
.pageTitleContainer .pageTitle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:1180px;
    margin: 0 auto;
}
.subTitle{
    color:#64728F;
    font-size:14px;
    width:1180px;
    margin: 0 auto;
}
.pageTitleContainer h1 {
    font-size: 24px;
}

.breadCrumbs {
    display: flex;
    align-items: center;
    
    margin-left: auto;
}
.breadCrumbs .p-menubar, 
.breadCrumbs .menuTxt {
    padding: 5px !important;
    color: #667085 !important;
    font-size: 14px;
    border: 0 none !important;
    background-color: transparent !important;
}
body.theme-dark .breadCrumbs .p-menubar, 
body.theme-dark .breadCrumbs .menuTxt {
    color:#fff !important;
}
.breadCrumbs .pi-chevron-right {
    font-size: 12px;
}
.breadCrumbs .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
    padding: 0.75rem 0.3rem;
}

.breadCrumbs .p-menubar-root-list>.p-menuitem-active>.p-submenu-list {
    background: #FFFFFF;
    border: 1px solid #EAECF0;
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
    border-radius: 8px;
}

/* not working */
.p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link,
.p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover {
  background: #EEF2FF;
}
.p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text,
.p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
  color: var(--primary-color) !important;
}
