/* content */
.content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.item{
    border: 1px solid var(--global-border-color);
    margin-bottom: 40px;
    width:30%;
}
.item .imgWrap{ 
    position: relative;
    width:100%;
    height:160px;
}
.item .imgWrap img{
    width:100%;
    height: 100%;
    
}
.item .imgWrap .labelWrap{
    width:100%;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 0px;
    height: 35px;
    padding:0 10px;
}
.labelWrap .p-chip{
    height: 25px;
    font-size: 13px;
    font-weight: bold;
    margin-right: 8px;
}
.labelWrap .tag-update{
     background: #FFE5E8;
     color:#D20319;
}
.labelWrap .tag-info{
    background: #E8F1FF;
    color:#0250EC;
}
.labelWrap .tag-new{
    background: #FEE598;
    color:#56481E;
}
.itemInfo {
    padding: 20px;
}
.itemInfo .p-button {
    height: 40px;
    font-size: 14px;
}
.itemInfo h3 {
    margin-bottom: 16px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.itemInfo p {
    margin-bottom: 16px;
    font-size: 14px;
    /* height: 40px; */
    white-space: normal;
    display: -webkit-box;
    display: -moz-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-line-clamp: 2;
    -moz-box-orient: vertical;
    overflow: hidden;
}