.p-datatable .p-datatable-tbody > tr > td:nth-child(1) {
    color: var(--brand-primary)
}
.p-datatable.ntc tr th, 
.p-datatable.ntc tr td:not(:nth-child(2)) {
    text-align: center;
}
.p-datatable.ntc tr th:first-child {
    width: 10%;
    color:gray;
}
.p-datatable.ntc tr th:nth-child(2) {
    width: 55%;
}
.p-datatable.ntc tr th:nth-child(3) {
    width: 10%;
}
.p-datatable.ntc tr th:nth-child(4) {
    width: 10%;
}
.p-datatable.ntc tr th:nth-child(5) {
    width: 15%;
}

